*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
section{   
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
}
.container{
scroll-snap-type: y mandatory;
overflow-y: scroll;
height: 100vh;

}
.Half-Life{
    background: rgb(36,164,138);
}
.Counter-Strike{
    background: rgb(35, 155, 22);
}
.CSGO{
    background: rgb(0, 152, 221);
}