body{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  overflow: hidden;
  background: #111;
}
div{
  box-sizing: border-box;
}
nav{
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content:space-around;
  align-items: center;
  color: #fff;

}
.nav-links {
    display: flex;
    justify-content:space-around;
    width: 50%;
    text-transform: uppercase;
}
.nav-links a{
  display: block;
   text-transform: uppercase;
   text-decoration: none;
   color: #fff;
  border-bottom:2px solid transparent;
  transition:0.5s ease;
  transform: translateX(0%);
}
.nav-links a:hover{
  color:#38b8ff;
  letter-spacing: 5px;
}
.burger{
  display: none;
}
.burger div{
  width: 25px;
  height: 3px;
  background: #fff;
  margin: 5px;
  transition:all 0.5s ease;
}
@media only screen and (max-width: 760px){
   nav{
    justify-content: space-between;
    padding: 0 5vw;
  }
  .nav-links{
    position: absolute;
    right: 0;
    top:8vh;
    min-height:92vh;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;   
    width: 50%;
    margin: 0;
    padding: 0;
    transform: translateX(100%);
    transition:All 0.5s ease-in;
  }
  .nav-links a{
    opacity: 0;
 
  }
  .burger{
    display: block;
  }
 
}
@media only screen and (max-width: 640px){
  nav{
    justify-content: space-between;
    padding: 0 5vw;
  }
}
.nav-active{
  transform: translateX(0);
}
@media only screen and (max-width: 460px){
  .nav-links{
    width: 100%;
    transition:All 0.5s ease;
  }
}
.nav-active{
  transform: translateX(0);
}
@keyframes navLinkFade{
  from{
    opacity: 0;
    transform: translateX(50px);
  }
  to{
    opacity: 1;
    transform: translateX(0);
  }
}
.toggle .line1{
   transform: rotate(-45deg) translate(-5px,6px );
}
.toggle .line2{
   opacity: 0;
}
.toggle .line3{
   transform: rotate(45deg) translate(-5px,-6px );
}
.Half_Life{
  background: url(images/halflife.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 15px 40px;
}
.Counter_Strike{
background: url(images/cs16.jpg) no-repeat center center fixed; 
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}
.CSGO{
background: url(images/csgo.jpg) no-repeat center center fixed; 
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}
section{   
  height: 100vh; /*Viewport Height (vh) vh ise ekran yüksekliğinin 100/1'lik bir bölümüne denk geliyor. Bu örneğimiz ise katman boyutu maximum yarım ekran yüksekliğinde olacak*/
  scroll-snap-align: start;
  display: flex;
  flex-direction: column;
}
.container{
scroll-snap-type: y mandatory;
overflow-y: scroll;
height: 100vh;
}
.center{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
h1.H1_Text{ 
  color: rgb(29, 165, 35);
  font-size: 50px;
  font-weight: 700;
  text-align: left;
  position: relative;
  padding: 10px 10px;
}
h2.H2_Text{
  color: white;
  font-size: 30px;
  font-weight: 200;
  text-align: left;
  position: relative;
  padding-top: 50px;
  text-align: center;
}
.butonflex{
  display: flex;
}
.devambutton{
  color : orange;
  text-decoration: none;
  font-size: 30px;
  position: relative;
  padding-left: 3px;
}
.devambutton:hover{
  color: white;
  background-color: orange;
  border-radius: 20px;
}
.halfdevbut {
  position: relative;
  display: inline;
  padding: 15px 30px;
  color: orange;
  text-transform: uppercase;
  letter-spacing: 4px;
  text-decoration: none;
  font-size: 24px;
  overflow: hidden;
  transition: 0.2s;
}
.halfdevbut:hover {
  color: orange;
  transition-delay: 1s;
}
.halfdevbut span {
  position: absolute;
  display: block;
}
.halfdevbut span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, orange);
}
.halfdevbut:hover span:nth-child(1) {
  left: 100%;
  transition: 1s;
}
.halfdevbut span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, orange);
}
.halfdevbut:hover span:nth-child(3) {
  right: 100%;
  transition: 1s;
  transition-delay: 0.5s;
}
.halfdevbut.halfdevbut span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, orange);
}
.halfdevbut:hover span:nth-child(2) {
  top: 100%;
  transition: 1s;
  transition-delay: 0.25s;
}
.halfdevbut span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, orange);
}
.halfdevbut:hover span:nth-child(4) {
  bottom: 100%;
  transition: 1s;
  transition-delay: 0.75s;
}