body {
    background-color: grey;
    background-image: url(half-life.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
}


#div1 {
    border: 1px solid transparent;
    text-align: center;
    margin-bottom: 30px;
    border-radius: 20px;;
    font-size: 50px;
    color:rgba(204, 131, 20, 0.836);
    background-color: rgba(224, 208, 186, 0.315);
    min-width: 1;
    position: relative;
    max-width: 1050px;
    background-image: url(half-life2.jpg) ;
    background-position: 0px 650px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}


#div2 {
    border: 1px solid transparent;
    color:rgb(199, 163, 130);
    padding-left: 5px;;
    background-color:  rgba(78, 77, 76, 0.705);
    border-radius: 20px;
    max-width: 1050px;
    font-size: 20px;
    
}

#p1 {
    text-indent: 10px;
}

#p3 {
    position:relative;
    padding-bottom: 100px;
}

#div3 {
    text-align: center;
    background-color: rgba(78, 77, 76, 0.705);
    border-radius: 20px;
    max-width: 1050px;
    min-height: 300px;
}

#p2 {
    color:rgb(199, 163, 130);
    font-size: 20px;
}

#cross1 {
    border: 1px dashed black;
    width: 200px;
    position: relative;
    right: 300px;
    transition: 700ms;
}

#cross1:hover {
    width: 300px;
}

#cross2 {
    border: 1px dashed black;
    width:200px;
    position: relative;
    right: 100px;
}







