body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    overflow: hidden;
    background-color: #111;
  }
  div{
    box-sizing: border-box;
  }
  nav{
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content:space-around;
    align-items: center;
    color: #fff;
  
  }
  .nav-links {
      display: flex;
      justify-content:space-around;
      width: 50%;
      text-transform: uppercase;
  }
  .nav-links a{
    display: block;
     text-transform: uppercase;
     text-decoration: none;
     color: #fff;
    border-bottom:2px solid transparent;
    transition:0.5s ease;
    transform: translateX(0%);
  }
  .nav-links a:hover{
    color:#38b8ff;
    letter-spacing: 5px;
  }
  .burger{
    display: none;
  }
  .burger div{
    width: 25px;
    height: 3px;
    background: #fff;
    margin: 5px;
    transition:all 0.5s ease;
  }
  @media only screen and (max-width: 760px){
     nav{
      justify-content: space-between;
      padding: 0 5vw;
    }
    .nav-links{
      position: absolute;
      right: 0;
      top:8vh;
      min-height:92vh;
      background-color: rgba(0, 0, 0, 0.3);
      display: flex;
      flex-direction: column;
      align-items: center;   
      width: 50%;
      margin: 0;
      padding: 0;
      transform: translateX(100%);
      transition:All 0.5s ease-in;
    }
    .nav-links a{
      opacity: 0;
   
    }
    .burger{
      display: block;
    }
   
  }
  @media only screen and (max-width: 640px){
    nav{
      justify-content: space-between;
      padding: 0 5vw;
    }
    .maillogo{
      background-color:#f7b500;
      color:#FFF;
      border-radius:50px;
      border:2px solid #f7b500;
      font-size: 40px;
      vertical-align: text-bottom;
    }
    .gmap{
      width: 350px;
      height: 200px; 
      overflow:  auto;
    }
  }
  .nav-active{
    transform: translateX(0);
  }
  @media only screen and (max-width: 460px){
    .nav-links{
      width: 100%;
      transition:All 0.5s ease;
    }
  }
  .nav-active{
    transform: translateX(0);
  }
  @keyframes navLinkFade{
    from{
      opacity: 0;
      transform: translateX(50px);
    }
    to{
      opacity: 1;
      transform: translateX(0);
    }
  }
  .toggle .line1{
     transform: rotate(-45deg) translate(-5px,6px );
  }
  .toggle .line2{
     opacity: 0;
  }
  .toggle .line3{
     transform: rotate(45deg) translate(-5px,-6px );
  }
  .center{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
.contact-height{
  line-height: 100px;
}
.wplogo{
  background-color:#25d366;
	color:#FFF;
	border-radius:50px;
  vertical-align: middle;
  border:2px solid #18ab29;
}
.text{
  color : white;
}
.edulogotext:hover{
  color:#6c0350;
}
.edulogotext{
  color: #fff;
}
.tglogo{
  background-color:#25c7d3;
  vertical-align: middle;
	color:#FFF;
	border-radius:50px;
  border:2px solid #25c7d3;
}
.maillogo{
  background-color:#f7b500;
  vertical-align: middle;
  color:#FFF;
  border-radius:50px;
  border:2px solid #f7b500;
}
.tglogo:hover{
  background-color:#111;
	color:#25c7d3;
}
.wplogo:hover{
  background-color:#111;
  color:#18ab29;
}
.maillogo:hover{ 
  background-color: #111;
  color: #f7b500;
  border:2px solid #f7b500;
}
.edulogo{
  width: 100px;
  vertical-align: middle;
}
.textdecoretion{
  text-decoration: none;
}
